################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Verrassingskalender-Api/.vs/Verrassingskalender-Api
/Verrassingskalender-Api/Verrassingskalender-Api/obj
/Verrassingskalender-Api/Verrassingskalender_Tests/obj
/Verrassingskalender-Api/Verrassingskalender-Api/bin
/Verrassingskalender-Api/.vs
