.hover-scratch-cell {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
    border: 2px solid black;
  }

  background: linear-gradient(white, white 50%, green 50%, green);
  background-size: 100% 200%;
  /*trasition effect for background*/
  transition: background 2.5s, transform 0.8s ease-in-out;
}

.empty {
  border: 1px solid black;
}

.chosen-cell {
  z-index: 99;
  transform: scale(2, 2);
}

.no-prize {
  background: linear-gradient(white, white 50%, grey 50%, grey);
  background-size: 100% 200%;
  background-position: -100% -100%;
}

.consolation-prize {
  background: linear-gradient(white, white 50%, green 50%, green);
  background-size: 100% 200%;
  background-position: -100% -100%;
}

.grand-prize {
  background: linear-gradient(white, white 50%, yellow 50%, yellow);
  background-size: 100% 200%;
  background-position: -100% -100%;
}

.tile-small {
  height: 20px;
  width: 20px;
}

.big-grid {
  width: 10000px;
  height: fit-content;
}

.overflow-container {
  height: 89vh;
  width: 100vw;
  overflow: auto;
}
